{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block body %}
<section id="portfolio" class="portfolio">
    <div class="container">
    <h1>My Profile</h1>

    <table class="table table-info table-striped">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Name</th>
                <th scope="col">Products</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Delivery Status</th>
                <th scope="col">Delivered</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
    </table>
    </div>
</section>
{% endblock body %}